CALIL_APP_KEY=
TARGET_SYSIDS=Miyazaki_Miyazaki,Miyazaki_Pref
NDL_SRU_BASE=https://ndlsearch.ndl.go.jp/api/sru
OPENBD_BASE=https://api.openbd.jp/v1
NEXT_PUBLIC_TARGET_SYSIDS=Miyazaki_Miyazaki,Miyazaki_Pref
